<h1>Time to duel</h1>

<button pButton (click)="spel($event)" type="button" class="ui-button-raised ui-button-rounded" label="Spellcard"></button>
<button pButton (click)="test($event)" type="button" class="ui-button-raised ui-button-rounded" label="Allcards"></button>
<!doctype html>
<div class="ui-g-12 ui-g-nopad" *ngFor="let card of result[0]; let i = index">
  <div class="ui-g"*ngIf="i<=99">
      <div class="ui-g-12 ui-md-4">
        <a a routerLink='/Details/{{card.id}}'>
        <img src="{{card?.image_url}}">
      </a></div>
      <div class="ui-g-12 ui-md-4">
       test
      </div>
      <div class="ui-g-12 ui-md-4"></div>
    
    
  </div>
  
</div>