<router-outlet></router-outlet>


<div class="row" *ngFor="let cardId of result[0]">
<div class="col s4">   
    <img src="{{cardId.image_url}}">
    <!-- <a class="waves-effect waves-light btn" (click)=AddToDeck(card.id)>Add Card to deck</a> -->
</div>
<div id="Details" class="col s8">
    <div class="row">
    <div class="col s6" id="b"><h5>attribute {{cardId.attribute}} </h5></div>
    <div class="col s6" id="b"><h5>Level: {{cardId.level}}</h5></div>
    <div class="col s12" id="b"><h5>Monster Type {{cardId.race}} </h5></div>        
    </div>
    <h3>{{cardId.name}} </h3>
    <h5>Type of card: {{cardId.type}} </h5>
    <h5>Attack of card: {{cardId.atk}} </h5>
    <h5>Defence of card: {{cardId.def}} </h5>
    
    <h5>Set of card: {{cardId.setcode}} </h5>  
     
    <h5>Card type's countries: {{cardId.la}}</h5>
    <p>{{cardId.desc}}</p> 
    <button pButton type="button" label="Add card to your deck" ></button>
</div>
</div>

